# EXP-1.5 deployment template
INDEXER_RPC_URL=REPLACE_WITH_APPROVED_TESTNET_RPC
INDEXER_CONSENSUS_STATUS_DIR=REPLACE_WITH_APPROVED_CONSENSUS_STATUS_DIRECTORY
INDEXER_HTTP_PORT=8420
INDEXER_POLL_INTERVAL=12s
INDEXER_REBUILD=0
INDEXER_MAX_HEAD_AGE=2m
INDEXER_EXPECTED_GENESIS_HASH=
